@model QboMdFood.Models.Multiplemodels
@{
    ViewBag.Title = "Sales Records";
    bool isConnected = Model.OAuthorizationModel.IsConnected;
    var counter = Model.SalesItems.Sales.Record.Count();
    var taxRate = Model.taxtoobj.Count();
}

<div class="container">
    
    <div class="row">
        
        <div class="col-lg-12 form-group">
            

                <h3>Customer Sales Records <spam class="@(counter > 0 ? "glyphicon glyphicon-ok-sign" : "glyphicon glyphicon-remove-sign")">     </spam></h3>
       

            </div>

    </div>
    <div class="row">
        
        <div class="col-lg-12 form-group">
            

                <h3>Tax Rate <spam class="@(taxRate > 0 ? "glyphicon glyphicon-ok-sign" : "glyphicon glyphicon-remove-sign")"> </spam></h3>
           

        </div>

    </div>
</div>