@model QboMdFood.Models.Multiplemodels
@{
    ViewBag.Title = "Sales Records";
    bool isConnected = Model.OAuthorizationModel.IsConnected;
    var counter = Model.CustomersObj.Item1.Count();
    var taxRate = Model.taxtoobj.Count();
}

<div class="container">
    
    <div class="row">
        
        <div class="col-lg-12 form-group">
            

                <h3>Customers<spam class="@(counter > 0 ? "glyphicon glyphicon-remove-sign" : "glyphicon glyphicon-ok-sign")">     </spam></h3>
       
            @if(counter > 0) {<h6 class="alert alert-danger">Please add @counter Customer in QuickBook online </h6> }
            </div>

    </div>
    <div class="row">
        
        <div class="col-lg-12 form-group">
            

                <h3>Tax Rate <spam class="@(taxRate > 0 ? "glyphicon glyphicon-ok-sign" : "glyphicon glyphicon-remove-sign")"> </spam></h3>
           

        </div>

    </div>
</div>